body {
  background-color: lightblue;
}

#heading {
  width: 75%;
  height: 100px;
  background-color: white;
  margin: 25px auto 25px auto;
  padding-top: 1px;
  text-align: center;
}

#pic-container {
  width: 75%;
  /*height: 350px;*/
  background-color: white;
  margin: 25px auto 25px auto;
  padding-top: 25px;
  text-align: center;
}

h1 {
  font-family: monospace;
  font-size: 3em;
}

img {
  width: 25%;
  border: 2px solid black;
  margin: 10px;
}

a {

}

#page-link {
  /*background-color: red;*/
  text-align: center;
}

#page-button {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

#picList {
  /*width: 75%;
  height: 200px;
  background-color: white;
  margin: auto;
  padding-top: 25px;
  text-align: center;*/
}

ul {

}

#bullet-container {
  width: 75%;
  margin: auto;
  background-color: white;
}

#chart-format {
  width: 75%;
  /*height: 400px;*/
  background-color: white;
  margin: 25px auto 50px auto;
  padding-top: 25px;
  text-align: center;
}

canvas {
  width: 75%;
  /*background-color: white;*/
  /*margin: auto;*/
  /*padding: 25px;*/
  /*text-align: center;
  width: 75%;
  min-width: 400px;*/
}
