body {
  background-color: lightblue;
}

.box-layout {
  width: 75%;
  background-color: white;
  margin: 25px auto 25px auto;
}

#heading {
  font-family: 'Libre Baskerville', serif;
  height: 100px;
  text-align: center;
  margin-top: 25px, auto, 25px;
  border-top: 15px solid darkblue;
}

#pic-container {
  height: 400px;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 3em;
  position: relative;
  bottom: 15px;
}

a {
  font-family: 'Work Sans', sans-serif;
  color: darkred;
}

img {
  width: 25%;
  border: 2px solid black;
  margin: 10px;
}

li {
  font-family: 'Work Sans', sans-serif;
}

#page-link {
  text-align: center;
}

#page-button {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

#bullet-container {
  width: 75%;
  background-color: white;
  margin: 25px auto 25px auto;
}

#chart-format {
  width: 75%;
  background-color: white;
  margin: 25px auto 25px auto;
  padding-top: 25px;
  text-align: center;
}

canvas {
  width: 75%;
}
